.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5;
    background: orange;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar__logo h1 {
    margin: 0;
}

.navbar__item {
    margin-left: 1.5rem;
}

.navbar__item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar__item li
{
    margin: 0 1rem;
}

.navbar__item a,
.navbar__item button 
{
    margin: 0;
    text-decoration: none;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
}
